*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
html,
body{
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at center,#4be3bd 0%,#00bdf7 100%);

}


.bodyy{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 20px;
  /* background: radial-gradient(circle at center,#111 0%,#000 100%); */
}

.container{
  display: flex;
  flex-wrap: no-wrap;
  width: fit-content;
  align-items: flex-end;
  /* overflow-x: auto; */
  width: 100%;
  /* background: pink; */
}

.bar{
  background: red;
  width: 20px;
  border: 1px solid black;
  border-radius: 5px;
}


button:disabled{
  background-color: #4f4040;
  transform: scale(1.05);
}

select:disabled{
  background-color: #4f4040;
  transform: scale(1.05);
}


.buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  margin: 10px;
}
.btn{
  padding: 5px 10px;
  font-size: 16px;
  /* margin-left: 50%; */
  background-color: rgb(0, 255, 145);
  border: none;
  border-radius: 5px; 
  font-family: Arial, Helvetica, sans-serif;
}

button:hover:not(:disabled){
  background: orange;
  cursor: pointer;
  scale: 1.1;
  transition: 0.2s ease;
}


#span{
  color: white;
  font: bold;
}

#valuetext{
  color: white;
  font-size: large;
  margin-left: 10px;
}

#slider{
    margin-left: 10px;
    accent-color: #007bff;
}

#speedspan{
  color: white;
  font: bold;
}

#speedtext{
  color: white;
  
  font-size: large;
  margin-left: 10px;
}




.dropdown {
  margin-bottom: 20px;
}

#speed {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2ce68f;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgb(0, 255, 145);
  max-height: 50px;
  overflow-y: auto;
}

#speed:hover:not(:disabled){
  border-color: #4afb77;
  cursor: pointer;
  background-color: orange;
  transition: 0.2s ease;
}

select:hover:not(:disabled){
  border-color: #4afb77;
}



.bar{
  transition: height 0.2s ease, background-color 0.2s ease;
}